*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding-left: 4vw;
}

.logo img{
    width: 8vw;
}

.menu{
    padding-top: 6vh;
}
.menu ul li{
    list-style-type: none;
    display: inline;
    padding: 1vw;
}
.menu ul li a{
    text-decoration: none;
    color:rgb(47, 46, 47);
}
.cc{
    padding-top:4vh ;
    padding-right: 4vw;
}

.cc ul li{
    list-style-type: none;
    color:rgb(47, 46, 47);
}

.one{
    display: flex;
}

.left-1{
    color: rgb(47, 46, 47);
    width: 40vw;
    height: 69.1vh;
    padding-top: 11vh;
    padding-left: 7vw;
    font-weight: bold;
    font-size: 1.7rem;
    background-color: rgb(224, 221, 217);
}
.left-1 button{
    background-color: rgb(13, 13, 87);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    margin: 40px;
    
}

.right-1 img{
    width: 60vw;
    height: 80vh;
}
.two{
    display: flex;
    padding:10vh ;
}
.left-2 img{
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}
.left-2 h1{
    font-size:2.4rem;
}
.right-2{
  padding-left: 2vw;
  line-height: 2;
}


.right-2 button{
    background-color:rgb(13, 13, 87) ;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    color: white;
    margin-top: 4vh;
}

.three-icons{
    display: flex;
    justify-content: space-between;
    padding-left: 4vw;
    padding-right: 4vw;
}
.icn{
    display: flex;
    
}
.icn h5{
  padding-top: 1vh;
  padding-left: 2vw;
}
.whyus{
    background-color: rgb(224, 221, 217);
    background-size: contain;
    width: 100vw;
    height: 100vh;
    color: rgb(47, 46, 47);
    padding: 40px 10px;
}
.whyus-in{
    display: flex;
}
.main-why{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
.why{
    width: 30vw;
    padding: 20px;
}
.left-3{
    width: 50vw;
    margin-left: 5vw;
}
.middle-3{
    position: absolute;
    right: 15vw;
}
.middle-3 img{
    height: 80vh;
}
.right-3{
    width: 50vw;
    margin-left: 20vw;
}











